<p class="text-center mt-5 p-3 lead">

   Uygulama bir hata ile karşılaştı. Teknik ekibimiz yani ben sorunu en kısa sürede fixleyecektir.
    <br />
    <br />
    <a asp-action="GirisYap" asp-controller="Home" class="btn btn-primary">Geri Dön</a>


</p>


