
@{
    ViewData["Title"] = "FaturaTitleListExcel";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Fatura Excel Döküman</h1>
<br />
<a href="/Admin/Fatura/ExportDynamicExcelFaturaList" class="btn btn-primary">Excel İndir</a>
